* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    text-align: center;
    margin: 30px;
    background: rgb(49, 65, 36);
    background: linear-gradient(90deg, rgba(49, 65, 36, 1) 0%, rgba(9, 121, 23, 1) 47%, rgba(49, 65, 36, 1) 100%);
}

#resultado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px 10px;
}